@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
    font-family: 'Noto Sans TC', sans-serif;
}

hr {
    border-width: medium;
    color: black;
}


ul>li {
    margin-left: auto;
    margin-right: auto;
}


.nav-color {
    background: linear-gradient(135deg, #009944 0%, #00B5D4 100%);
    opacity: 0.8;
    z-index: 2;
}

.news {
    background: linear-gradient(135deg, rgba(0, 153, 68, 0.1)0%, rgba(0, 181, 212, 0.1)100%);
}



.service-text {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 32px;
    color: rgba(100, 121, 110, 1);
}

.service-title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    color: rgba(27, 65, 0, 1);
    width: 200px;
    height: 53px;
    line-height: 53px;

}

.text-topic {
    height: 36px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    color: #1B4100;

}

.footer-text {
    height: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 32px;
}

.service-border {
    border: 1px solid #64796E;
}




@media (max-width: 767px) {
    .nav-text {
        width: 100px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        /* identical to box height */
    }

    .hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
        color: white;
    }

    .hero-text>h1 {
        font-size: 40px;
        width: 320px;
        line-height: 59px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .hero-text>p {
        font-size: 22px;
        width: 320px;
        line-height: 36px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .service-title {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 44px;
        display: flex;
        align-items: flex-end;

    }

    .about-us {
        margin-top: -40vh;
        filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25));
    }

}

@media (max-width: 480px) {


    .hero-text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }

    .hero-text>h1 {
        font-size: 37px;
        width: 300px;
        line-height: 59px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .hero-text>p {
        font-size: 20px;
        width: 300px;
        line-height: 36px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .service-title {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 44px;
        display: flex;
        align-items: flex-end;

    }

    .about-us {
        margin-top: -45vh;
        filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25));
    }
}

@media (min-width: 768px) {
    .nav-text {
        width: 100px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        /* identical to box height */
    }

    .hero-text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
        color: white;
    }

    .hero-text>h1 {
        font-size: 59px;
        line-height: 80px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .hero-text>p {
        font-size: 24px;
        width: 650px;
        line-height: 36px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    }


    .nav-brand {
        margin-left: 6vw;
        margin-top: -2px;
    }

    .hero-text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
        color: white;
    }

    .about-us {
        margin-top: -50vh;
        filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25));
    }

    .nav-icon {
        margin-left: 3vw;
        margin-right: 5vw;
    }

    a>img {
        margin-right: 20px;
    }

    .align-right {
        text-align: right;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {


    .hero-text {
        position: absolute;
        top: 40%;
        left: 70%;
        transform: translate(-60%, -50%);
        text-align: left;
        color: white;
    }

    .hero-text>h1 {
        font-size: 59px;
        line-height: 80px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .hero-text>p {
        font-size: 24px;
        width: 650px;
        line-height: 36px;
        font-style: normal;
        font-weight: bold;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .navbar .navbar-collapse {
        text-align: center;

    }


    .about-us {
        margin-top: -25vh;
        filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25));
    }

}