* {
    font-family: 'Noto Sans CJK TC;';
}

body {
    overflow-x: hidden;
}

.nav-color {
    background: linear-gradient(135deg, #009944 0%, #00B5D4 100%);
    opacity: 0.8;
}

.news {
    background: linear-gradient(135deg, rgba(0, 153, 68, 0.1)0%, rgba(0, 181, 212, 0.1)100%);
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
}

@media (max-width: 767px) {
    .hero-image {
        background-position: center;
        background-size: cover;
        height: 100vh;
        background: url("../img/img_index-hero-d.png") no-repeat 50% 50%;
    }

    .about-us {
        margin-top: px;
        filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25));
    }
}

@media (max-width: 480px) {
    .hero-image {
        background-position: center;
        background-size: cover;
        height: 100vh;
        background: url("../img/img_index-hero-d.png") no-repeat 50% 50%;
    }

    .hero-text {
        text-align: left;
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
        color: white;
    }
}

@media (min-width: 768px) {
    .hero-image {
        background-position: center;
        background-size: cover;
        height: 100vh;
        background: url("../img/img_index-hero-d.png") no-repeat 50% 50%;
    }

    .hero-text {
        text-align: left;
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        color: white;
    }

    .about-us {
        margin-top: -300px;
        filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25));
    }
}

@media (min-width: 992px) {
    .hero-image {
        width: 100%;
        height: 70vh;
        background: url("../img/img_index-hero-d.png") no-repeat 50% 50%;
        background-size: cover;
    }

}

@media all and (min-width: 1200px) {
    .hero-image {
        width: 100%;
        height: 100vh;
        background: url("../img/img_index-hero-d.png") no-repeat 50% 50%;
        background-size: cover;
    }


    .nav-text {
        width: 100px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        margin-right: 40px;

    }

    .navbar .navbar-collapse {
        text-align: center;

    }

    .hero-image {
        background: url("../img/img_index-hero-d.png") no-repeat 50% 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    .hero-text {
        text-align: left;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        color: white;
    }


    .text-topic {
        height: 36px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 36px;
        color: #1B4100;

    }

    .about-us {
        margin-top: -200px;
        filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25));
    }

    .service-text {
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 32px;
        color: rgba(100, 121, 110, 1);
    }

    .service-title {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 32px;
        color: rgba(27, 65, 0, 1);
        width: 200px;
        height: 53px;
        line-height: 53px;

    }

    .footer-text {
        height: 32px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 32px;
    }

    .service-border {
        border: 1px solid #64796E;
    }
}